{% extends 'sklep/base.html' %}
{% block content %}

<div class="container">
<div class="col-md-5">
  <div class="form-area">
      <form role="form">
      <br style="clear:both">
                  <h3 style="margin-bottom: 25px; text-align: center;">Dodaj ksiązke</h3>
          <div class="form-group">
          <input type="text" class="form-control" id="title" name="title" placeholder="Tytuł" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="author" name="author" placeholder="Autor" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="ISBN" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="quanity" name="quanity" placeholder="Ilość" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="price" name="price" placeholder="Cena" >
        </div>
		 <div class="form-group">
          <input type="text" class="form-control" id="lendPrice" name="lendPrice" placeholder="Cena wypozyczenia">
        </div>
		<div class="form-group">
          <input type="text" class="form-control" id="isEbook" name="isEbook" placeholder="Czy jest ebookiem" required>
        </div>
        <div class="form-group">
                  <textarea class="form-control" type="textarea" id="description" name="description" placeholder="Opis" maxlength="140" rows="7"></textarea>
        </div>
		
		 <div class="form-group">
                  <textarea class="form-control" type="textarea" id="tableOfContents" name="tableOfContents" placeholder="Lista rozdziałów" maxlength="140" rows="7"></textarea>
        </div>
		

      <div class="input-group image-preview">
               <span class="input-group-btn">
                   
                   <div class="btn btn-default image-preview-input">
                       <span class="glyphicon glyphicon-folder-open"></span>
                       <span class="image-preview-input-title">Przeglądaj</span>
                       <input type="file"  id="cover" name="cover"  accept="image/png, image/jpeg, image/gif" />
                   </div>
               </span>
           </div>
		


      <button type="button" id="submit" onkeypress="submit();" name="submit" class="btn btn-primary pull-right">Dodaj</button>
      </form>
  </div>
</div>
</div>

<script>
    function sumbit(){
    var data = new FormData();


    File.prototype.convertToBase64 = function(callback){
            var reader = new FileReader();
            reader.onload = function(e) {
                 callback(e.target.result)
            };
            reader.onerror = function(e) {
                 callback(null);
            };
            reader.readAsDataURL(this);
    };

    $("#cover").on('change',function(){
      var selectedFile = this.files[0];
      selectedFile.convertToBase64(function(base64){
           alert(base64);
      })
    });

	data.append('price', 'price');
	data.append('author', 'author');
    data.append('title', 'title');    
    data.append('quanity', 'quanity');
	data.append('lendPrice','lendPrice');
	data.append('description','description');
	data.append('cover','cover');
    data.append('ISBN', 'ISBN');
	data.append('isEbook','isEbook');
	data.append('tableOfContents','tableOfContents');
    
	
	console.log(data);

    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'http://localhost:8080/books/', true);
    xhr.onload = function () {
    console.log(this.responseText);
    };
    xhr.send(data);
    };




</script>

{% endblock %}
