{% extends 'sklep/base.html' %}
{% block content %}

<div class="container">
<div class="col-md-5">
  <div class="form-area">
      <form role="form" id="myform" class="myform">
      <br style="clear:both">
                  <h3 style="margin-bottom: 25px; text-align: center;">Dodaj ksiązke</h3>
          <div class="form-group">
            <div class="form-group">
              <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="ISBN" required>
            </div>
          <input type="text" class="form-control" id="title" name="title"  placeholder="Tytuł" required>
        </div>
        <div class="form-group">
          <input type="checkbox" name="isEbook" value="true">Jest ebookiem<br>
          <input type="checkbox" name="isEbook" value="false" checked>Nie jest ebookiem<br>
        <div class="form-group">
              <input type="text" class="form-control" id="price" name="price" placeholder="Cena" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="quanity" name="availability" placeholder="Ilość" required>
        </div>
        <div class="form-group">

            <select multiple="multiple" name="authors[]">

              {% for author in authors %}

                  <option name="authors[]" value={{author.id}} >	{{author.name}} </option>

               {% endfor %}
            </select>


        </div>
        <div class="form-group">
                     <input class="form-control" type="text" id="tableOfContents" name="tableOfContents[0]" placeholder="Rozdział 1" >
                     <input class="form-control" type="text" id="tableOfContents" name="tableOfContents[1]" placeholder="Rozdział 2" >
                     <input class="form-control" type="text" id="tableOfContents" name="tableOfContents[2]" placeholder="Rozdział 3" >
                     <input class="form-control" type="text" id="tableOfContents" name="tableOfContents[3]" placeholder="Rozdział 4" >
                     <input class="form-control" type="text" id="tableOfContents" name="tableOfContents[4]" placeholder="Rozdział 5" >
                     <input class="form-control" type="text" id="tableOfContents" name="tableOfContents[5]" placeholder="Rozdział 6" >
        </div>
        <div class="form-group">
                  <input class="form-control" type="textarea" id="description" name="description" placeholder="Opis"  >
        </div>



  </form>

  <input id="inputFileToLoad" type="file" onchange="encodeImageFileAsURL();" />
  <div id="imgTest"></div>
	<div>
	<select id="id">

              {% for book in books %}

                  <option name="id[]" value={{book.id}} >	{{book.title}} </option>

               {% endfor %}
            </select>
	</div>
      <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Dodaj</button>

  </div>
</div>
</div>

<script>

document.getElementById("submit").onclick = function() {submit()};


function submit(){

  var  book =  JSON.stringify($('#myform').serializeObject());

      console.log(book);

      var xhr = createCORSRequest('POST','http://localhost:8080/books');
       xhr.setRequestHeader("Authorization", 'Basic ' + btoa('admin:qwerty'));
      xhr.onload = function () {
      console.log(this.responseText);
      };
      xhr.send(book);


      };


      function encodeImageFileAsURL() {

     var filesSelected = document.getElementById("inputFileToLoad").files;
     if (filesSelected.length > 0) {
       var fileToLoad = filesSelected[0];

       var fileReader = new FileReader();

       fileReader.onload = function(fileLoadedEvent) {
         var srcData = fileLoadedEvent.target.result; // <--- data: base64


         var id = document.getElementById("id").value;



         var newImage = document.createElement('img');
         newImage.src = srcData;

         var imagestr = newImage.src;

         document.getElementById("imgTest").innerHTML = newImage.outerHTML;
         var cover = {};
         cover = imagestr.split(',')[1];
         console.log(cover);


         var xhr = createCORSRequest('POST','http://localhost:8080/bookcovers/'+id)
         xhr.setRequestHeader("Authorization", 'Basic ' + btoa('admin:qwerty'));
         xhr.onload = function () {
         console.log(this.responseText);
         };
         xhr.send(cover);

       }
       fileReader.readAsDataURL(fileToLoad);
     }

   }
   function createCORSRequest(method, url) {
     var xhr = new XMLHttpRequest();
     if ("withCredentials" in xhr) {

       // Check if the XMLHttpRequest object has a "withCredentials" property.
       // "withCredentials" only exists on XMLHTTPRequest2 objects.
       xhr.open(method, url, true);

     } else if (typeof XDomainRequest != "undefined") {

       // Otherwise, check if XDomainRequest.
       // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
       xhr = new XDomainRequest();
       xhr.open(method, url);

     } else {

       // Otherwise, CORS is not supported by the browser.
       xhr = null;

     }
     return xhr;
   }
</script>

{% endblock %}
