{% extends 'sklep/base.html' %}
{% block content %}

<div class="container">
<div class="col-md-5">
  <div class="form-area">
      <form role="form" id="myform" class="myform">
      <br style="clear:both">
                  <h3 style="margin-bottom: 25px; text-align: center;">Dodaj ksiązke</h3>
          <div class="form-group">
          <input type="text" class="form-control" id="title" name="title"  placeholder="Tytuł" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="author" name="author" placeholder="Autor" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="ISBN" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="quanity" name="quanity" placeholder="Ilość" required>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" id="price" name="price" placeholder="Cena" >
        </div>
		<div class="form-group">
          <input type="text" class="form-control" id="isEbook" name="isEbook" placeholder="Czy jest ebookiem" required>
        </div>
        <div class="form-group">
                  <input class="form-control" type="textarea" id="description" name="description" placeholder="Opis" maxlength="140" rows="7"></textarea>
        </div>

		 <div class="form-group">
                  <input class="form-control" type="textarea" id="tableOfContents" name="tableOfContents" placeholder="Lista rozdziałów" maxlength="140" rows="7"></textarea>
        </div>


      <div class="input-group image-preview">
               <span class="input-group-btn">

                   <div class="btn btn-default image-preview-input">
                       <span class="glyphicon glyphicon-folder-open"></span>
                       <span class="image-preview-input-title">Przeglądaj</span>
                       <input type="file"  id="cover" name="cover"  accept="image/png, image/jpeg, image/gif" />
                   </div>
               </span>
           </div>



      <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Dodaj</button>
      </form>
  </div>
</div>
</div>

<script>

document.getElementById("submit").onclick = function() {submit()};

function submit(){

  var array = $("form.myform").serializeArray();
  var data = JSON.parse(JSON.stringify(array));

    console.log(data);
    var username = 'admin';
    var password = 'qwerty';
    function createCORSRequest(method, url) {
      var xhr = new XMLHttpRequest();
      if ("withCredentials" in xhr) {

        // Check if the XMLHttpRequest object has a "withCredentials" property.
        // "withCredentials" only exists on XMLHTTPRequest2 objects.
        xhr.open(method, url, true);

      } else if (typeof XDomainRequest != "undefined") {

        // Otherwise, check if XDomainRequest.
        // XDomainRequest only exists in IE, and is IE's way of making CORS requests.
        xhr = new XDomainRequest();
        xhr.open(method, url);

      } else {

        // Otherwise, CORS is not supported by the browser.
        xhr = null;

      }
      return xhr;
    }
    var xhr = createCORSRequest('POST','http://localhost:8080/books')
    xhr.setRequestHeader ("Authorization", "Basic " + btoa(username + ":" + password));
    xhr.onload = function () {
    console.log(this.responseText);
    };
    xhr.send(data);
    };





</script>

{% endblock %}
