{% extends 'sklep/base.html' %}

{% block content %}
    <table id="myTable">

{% for author in authors %}
	<tr>
		<td><h1><a href="{% url 'author_detail' pk=author.id %}">{{ author.name }}</a></h1></td>
	</tr>

 {% endfor %}
</table>






<script>
function myFunction() {
  var input, filter, table, tr, td, i,pk ;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>

{% endblock content %}
