{% load staticfiles %}
{% load javascript_settings_tags %}
<script type="text/javascript">{% javascript_settings %}</script>
<html>

    <head>
        <title>Księgarnia </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/sklep.css' %}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static "js/jquery.serialize-object.min.js" %}"></script>

    </script>

		{% load javascript_settings_tags %}
		<script type="text/javascript">{% javascript_settings %}</script>

			<nav class="navbar navbar-light" style="background-color: #CCCC33;">

			<div class="container-fluid">

				<!-- Header -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{% url 'book_list' %}">Księgarnia</a>
				</div>

				<!-- Items -->
				<div class="collapse navbar-collapse" id="topNavBar">
					<ul class="nav navbar-nav">
						<li class="">
							<a href="{% url 'book'%}">
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp
								Książki
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav">
						<li class="">
							<a href="{% url 'author_list'%}">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp
								Autorzy
							</a>
						</li>
					</ul>

					<form class="navbar-form navbar-left">
						 <div class="form-group">
							<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Wyszukaj" title="Type in a name">
						 </div>

					</form>

					{% if request.session.username %}
						Czesc, {{ request.session.first_name }}!
					{% else %}
						Witaj nieznajomy, zaloguj sie!
					{% endif %}

					<ul class="nav navbar-nav navbar-right">
						<li class="">
							<a href="{% url 'add_author'%}">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Dodaj autora
							</a>
						</li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="">
								<a href="{% url 'add_book'%}">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								Dodaj książke
							</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="">
									{% if request.session.username %}
										<a href="{% url 'logout_user'%}">
										<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
										Wyloguj się
									{% else %}
										<a href="{% url 'login_user'%}">
										<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
										Zaloguj się
									{% endif %}
							</a>
						</li>
					</ul>
                    {% if request.session.username %}
                    <ul class="nav navbar-nav navbar-right">
						<li class="">
								<a href="{% url 'new_cart'%}">
								<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
								Koszyk
							</a>
						</li>
					</ul>
                    <ul class="nav navbar-nav navbar-right">
						<li class="">
								<a href="{% url 'mybooks'%}">
								<span class="glyphicon glyphicon-book" aria-hidden="true"></span>
								Moje książki
							</a>
						</li>
					</ul>
                    {% endif %}



				</div>


			</div>
			</nav>

    </head>
    <body>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
