{% extends 'sklep/base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="book">
        <h1>{{ book.title }}</h1>


		<img src="{% static url %}"   />
		{% for author in authors %}
		<div class="author"><br>{{ author }}</br></div>
		{% endfor %}
		<div class="price"><br><br>Cena: {{ book.price }} zł</br></br><div>
        <div class="description"><p>Opis:<br><br>{{ book.description|linebreaksbr }}</br></br></p></div>
		<p>Spis treści: <br>{{ book.tableOfContents|linebreaksbr }}</br></p>
		<a href="{% url 'shop_detail'%}">{{ book.ebook}}</a>
		<br><a href="{% url 'shop_detail'%}">{{ book.paper}}</a></br>
    </div>

			<form method="link" action="{% url 'add_to_cart' book.id %}">
				<button type="submit" class="btn btn-default btn-lg">
  						<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Dodaj do koszyka
				</button>
			</form>

{% endblock %}
