serwer/__pycache__/
serwer/api/__pycache__/
serwer/models/__pycache__/


django/ksiegarnia/__pycache__/
django/sklep/__pycache__/
django/sklep/migrations/__pycache__/
django/rest/__pycache__/
django/.idea/
django/myvenv/
