.body{
	font-family: Courier New;
}
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
    overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.image-preview-input-title {
    margin-left:2px;
}
.page-header  .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:visited,a:active {
    color: #ffffff;
	font-family: Courier New;
	font-weight: normal;
	font-size: 7rem;
	font-style: italic;
}

.content {
    margin-left: 30rem;
}

.book {
    margin-bottom: 10rem;
	line-height: 2rem;
	font-family: Verdana;
}

.price{
	font-size: 2rem;
	margin-bottom: 1rem;
}

 .author{
	font-size: 3rem;
	margin-bottom: 1rem;
 }
 .book h1{
	font-size: 4rem;
	color: #236B8E;
	margin-bottom: 1rem;
 }
 .book p{
	font-size: 2rem;
	margin-bottom: 1rem;
 }

 .book price{
	font-size: 2rem;
	margin-bottom: 2rem;
 }

 .book author a:visited,. book author a:visited,{
	 font-size: 2rem;
	margin-bottom: 1rem;
 }

 .description{
	font-size: 2rem;
	margin-bottom: 2rem;
 }

 .navbar{
	 border-radius: 0;

 }

 .image-preview-input {
    position: relative;
    overflow: hidden;
	margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
 * {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
